.table {
  border: 2px solid black;
  font-size: medium;
  height: 70px;
  padding: 3px;
}
.tablehead {
  border: 2px solid black;
  font-size: medium;
  height: 70px;
  padding: 3px;
}

.tabledis {
  border: 2px solid black;
  font-size: medium;
  height: 70px;
  padding: 3px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.tabledis {
  text-align: center;
  background-color: rgb(241, 209, 168);
  color: black;
}
.tablehead {
  background-color: rgb(209, 217, 232);
  color: black;
}
.foot {
  background-color: cornflowerblue;
  color: black;
}
.reports {
  margin: 50px;
}
