.repobut {
  background-color: rgb(53, 71, 150);
  color: rgb(246, 241, 241);
}

.repobut:hover {
  background-color: #7c92da;
}
.report-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
