.dashboard-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.b1 {
  margin-bottom: 10px;
}

.graph-container {
  margin-top: 20px;
}

.expense-grid {
  display: flex;
  flex-wrap: wrap;
}

.expense-grid {
  display: grid;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 15px;
  gap: 20px;
}

.expense-box {
  width: 90%;
  height: 230px;
  padding: 10px;
  border: 3px solid rgb(63, 171, 88);
  margin: 5px;
  border-radius: 10px;
  background-color: rgb(243, 239, 230);
}

.add-expense {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: rgb(13, 192, 99);
  color: rgb(246, 241, 241);
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 15px 5px;
  min-width: 100px;
  max-width: fit-content;
}
.b1 {
  display: flex;
  flex-direction: row;
  justify-items: stretch;
}
.modal-foot {
  display: flex;
  justify-content: space-around;
}
