.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  width: 450px;
  background-color: #f5f5f5;
}

.login-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h2 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 18px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  width: 100%;
  padding: 8px;
  margin: 18px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.logBtn {
  background-color: rgb(53, 71, 150);
  color: rgb(246, 241, 241);
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 15px 5px 15px 40px;
  max-width: fit-content;
}

button:hover {
  background-color: #7c92da;
}

.error-message {
  color: red;
  margin-top: 10px;
}

p {
  text-align: center;
  margin-top: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.password-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.password-input-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 12px;
}
